<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Registration Page</h1>

<form action="{% url 'registration:index' %}" method="post">
{% csrf_token %}
    <label>Account</label>
    <input type="email" name="userAccount" required {% if user_account%} value="{{ user_account }}"{% endif%}/>
    <input type="submit" value="check" />
    {% if message %}<strong>{{ message }}</strong>{% endif %}
    <br>
    <label>Password</label>
    <input type="password" name="userPassword" />
    <br>
    <label>Name</label>
    <input type="text" name="userName" />
    <br>
    <label>Male</label>
    <input type="radio" name="userSex" id="M" value="M" />
    <label>Female</label>
    <input type="radio" name="userSex" id="F" value="F" />
    <br>
    <label>Birthday</label>
    <input type="datetime" name="userBirth" />
    <br>
    <input type="submit" value="Submit" />
</form>
</body>
</html>
